.container {
  border-radius: 4px;
  background-color: #d3d5e07d;
  border: 2px solid #00000078;
  padding: 0 50px 50px 50px;
}

.input {
  width: 500px;
  height: 30px;
  border: 2px solid black;
  border-radius: 4px;
  padding-left: 16px;
}

.button {
  margin: 30px;
  height: 40px;
  width: 40px;
  background-color: rgb(81 183 255 / 33%);
}

.list {
  padding: 0;
  margin: 0;
  max-height: 400px;
  overflow-y: scroll;
}

.list_item {
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
  list-style: none;
  margin-top: 5px;
}

.notFound {
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
